.home_img{
  width: 600px;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: -1;

}

h1{
  width: 50%;
  max-width: 600px;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);


}
.data,
.money {
  width: 50%;
  max-width: 600px;
  font-size: 20px;
  text-align: left;
  padding-left: 20px;
  }


.last_money{
  background: rgba(255, 255, 255, 0.5);
}

h6 {
  width: 50%;
  max-width: 600px;
  text-align: center;
  color: black;
  font-size: 18px;
  }
  
 